*, *::before, *::after{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Work Sans', sans-serif;
    font-size: 18px;
}
header{
    display: grid;
    grid-template-columns: 50%;
    height: 100vh;
    justify-content: end;
    float: right;
    align-items: center;
    background-image: url('./images/banner/banner2.png');
    background-position: left center;
    padding-right: 100px;
}
.header-box{
    padding: 120px;
    text-align: right;
}
.header-box h1{
    margin-bottom: 15px;
    font-weight: 700;
}
.header-box p{
    margin-bottom: 15px;
    color: #444343;
}
.header-box button{
    padding: 18px 30px;
    color: #fff;
    background-color: #F15B22;
    border: none;
    border-radius: 5px;
    font-weight: 600;
}
.my-failures{
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    width: 80%;
    margin: auto;
}
.my-failures-img{
    height: 100%;
    background-image: url('./images/person.png');
    background-position: center center;
    background-size: 70%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;

}
.failures-div{
    width: 90%;
    height: 80%;
    border-radius: 50%;
    background-color: aquamarine;
    z-index: -1;
}
.my-failures-content{
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    padding: 50px;
}
.f-item{
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-bottom: 10px;
}
.failures-content{
    display: grid;
    grid-template-columns: auto;
    row-gap: 15px;
    padding: 10px;
}
.my-plans{
    display: grid;
    grid-template-columns: auto auto auto auto;
    width: 80%;
    margin: 50px auto;
    padding: 10px;
    justify-content: space-between;
}
.my-plan-hero{
    grid-column-start: 1;
    grid-column-end: 5;
    font-weight: 700;
    text-align: center;
    margin-bottom: 2em;
}
.plan{
    text-align: center;
}
.plan img{
    margin-bottom: 15px;
}
.plan p{
    color:#444343;
}
.always-positive{
    width: 80%;
    height: 200px;
    background-image: linear-gradient(90deg, #F15B22, transparent), url('./images/watch.png');
    display: grid;
    align-items: center;
    margin: 50px auto;
}
.positive{
    padding-left: 50px;
}
.positive h1{
    color: #fff;
    margin-bottom: 15px;
}
.positive button{
    padding: 18px 30px;
    color: #F15B22;
    background-color: #fff;
    font-size: 21px;
    border: none;
    border-radius: 15px;
    font-weight: 600;
}
footer{
    display: grid;
    grid-template-columns: auto auto;
    background-color: #151414;
}
.footer-left{
    padding: 120px;
}
.footer-left p{
    margin-bottom: 15px;
    color: #8f8d8d;
}
.footer-right{
    padding: 120px;
}
.icon img{
    margin-right: 15px;
}
input[type='email']{
    display: block;
    font-size: 20px;
    padding-left: 10px;
    border: none;
    height: 2em;
    margin: 15px 0;
}
input[type='submit']{
    padding: 18px 2em;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 15px;
    margin-top: 15px;
    background-color: #F15B22;
    color: #fff;
}
@media only screen and (max-width: 768px){
    h1{
        font-size: 22px;
    }
    p{
        font-size: 16px;
    }
    h2{
        font-size: 20px;
    }
    header{
        padding: 10px;
        height: 100%;
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: 0 0;
        background-color: #bebebe;
    }
    .header-box{
        padding: 10px;
    }
    .my-failures{
        grid-template-columns: auto;
        height: 100%;
        margin-top: 50px;
        width: 100%;
    }
    .my-failures-img{
        height: 300px;
        background-size: 30%;
        padding: 10px;
    }
    .failures-div{
        height: 50%;
        width: 30%;
    }
    .my-failures-content{
        width: 100%;
        padding: 30px;
    }
    .my-plans{
        grid-template-columns: auto auto;
        padding: 30px;
        width: 100%;
    }
    .my-plan-hero{
        grid-column-start: 1;
        grid-column-end: 3;
    }
    .plan{
        margin-bottom: 30px;
    }
    .always-positive{
        width: 100%;
        background-position: center center;
        background-size: cover;
    }
    button{
        font-size: 14px;
    }
    footer{
        grid-template-columns: 1fr;
    }
    .footer-left, .footer-right{
        padding: 20px;
    }
    .icon img{
        width: 30px;
        height: 30px;
    }
}